.wysiwyg-toolbar-dark {
    padding-top: 10px;
    background-color: transparent;
    border: none;
}

.wysiwyg-toolbar-wrapper-dark {
    background-color: rgba(0,0,0,0.3);
    border: 1px solid #333333;
    border-radius: 6px;
}

.wysiwyg-toolbar-editor-dark {
    border-top: 1px solid rgba(255,255,255,0.2);;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 5px;
}

.wysiwyg-toolbar-light {
    padding-top: 10px;
    background-color: transparent;
    border: none;
}

.wysiwyg-toolbar-wrapper-light {
    border: 1px solid #cecece;
    border-radius: 6px;
}

.wysiwyg-toolbar-editor-light {
    background-color: rgba(224, 224, 224, 0.3);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 5px;
}